<!DOCTYPE html>
html(lang="en")
    head
        title react
        meta(charset="utf-8" lang="en")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/dist/css/vendor.min.css")

    body.bg-danger
        h2#hello
        h1 TEST RUN.
        div
        | You have successfully passed all tests for the webpack and the gulp thing.
        | T E S T  -  R U N  -  S U C C E S S F U L

        script(src="/dist/js/tether.min.js")
        script(src="/dist/js/react.vendor.min.js")
