<!DOCTYPE html>
html(lang="en")
    head
        title test run
        meta(charset="utf-8" lang="en")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/dist/css/vendor.min.css")

    body.bg-success
        h1 TEST RUN.
        div
        | You have successfully passed all tests for the webpack and the gulp thing.
        | T E S T  -  R U N  -  S U C C E S S F U L

        script(src="/dist/js/vendor.min.js")
