$red: #FF0000; // Red
$orange: #FFBF00; // Orange
$yellow: #FFFF00; // Yellow
$green: #7FFF00; // Green
$lightBlue: #007FFF; // Light Blue
$cyan: #00FFFF; // Cyan
$blue: #0000FF; // Blue
$purple: #7F00FF; // Purple
$magenta: #FF00FF; // Magenta
$black: #000; // Black
$white: #fff; // White
$darkPurple: #330033; // dark purple
$shadedRed: #cc3366; //shaded red
$lightGreen: chartreuse;
$hand: pointer; // hand for a cursor