@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/font";

body{
    background-color: $yellow;
    color: $red;
    font-family: Montserrat-Black;
}
